﻿@model Test_Project.ViewModels.VehicleMakeVM

@{
    ViewBag.Title = "Delete";
}

@*ERROR MSG ako delete nije uspioo*@
<h1 align="center" style="font-family:Trebuchet MS">DELETE</h1>
<h4 align="center" style="font-family:Trebuchet MS">Vehicle Make</h4>
<p class="error">@ViewBag.ErrorMessage</p>

<h3 align="center">Are you sure you want to delete this?</h3>

<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abrv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abrv)
        </dd>
        <dd>
            <br />
            <table class="table">
                <tr>
                    <th>Model Name</th>
                    <th>Model Abbreviation</th>
                </tr>
                @foreach (var item in Model.VehicleModels)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Abrv)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
