﻿@model Test_Project.ViewModels.VehicleMakeVM

@{
    ViewBag.Title = "Details";
}

<h1 align="center" style="font-family:Trebuchet MS">DETAILS</h1>

<div>
    <h4 align="center" style="font-family:Trebuchet MS">Vehicle Make</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Abrv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abrv)
        </dd>
        <dd>
            <br/>
            <table class="table">
                <tr>
                    <th>Model Name</th>
                    <th>Model Abbreviation</th>
                </tr>
                @foreach (var item in Model.VehicleModels)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Abrv)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID}, new { @class = "btn btn-primary"}) |
    @Html.ActionLink("Back to List", "Index")
</p>