﻿@model PagedList.StaticPagedList<Test_Project.ViewModels.VehicleMakeVM>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Vehicle Makes";
}

<h1 align="center" style="font-family:Trebuchet MS">VEHICLE MAKES</h1>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

@using (Html.BeginForm("Index", "VehicleMake", FormMethod.Get))
{
    <p>
        Search by name or abbreviation: @Html.TextBox("SearchTerm", ViewBag.CurrentFilter as string)
        <input type="submit" class="btn btn-success btn-mds" value="Search" />
    </p>
}

<div>
    <table style="width:50%">
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrderField = "name", sortOrderDirection = ViewBag.SortOrderDirection, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Abbreviation", "Index", new { sortOrderField = "abrv", sortOrderDirection = ViewBag.SortOrderDirection, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th></th>
        </tr>

        @foreach (var make in Model)
            {
            <tr>
                <td>@make.Name</td>
                <td>@make.Abrv</td>
                <td>
                    <a href="@Url.Action("Details","VehicleMake", new { id = make.ID})">
                        <i class="fa fa-external-link" style="font-size:20px; margin-right:10px"></i>
                    </a>
                    <a href="@Url.Action("Edit","VehicleMake", new { id = make.ID})">
                        <i class="fa fa-pencil-square" style="font-size:20px; margin-right:10px"></i>
                    </a>
                    <a href="@Url.Action("Delete", "VehicleMake", new { id = make.ID })">
                        <i class="fa fa-trash" style="font-size:20px; margin-right:10px"></i>
                    </a>
                </td>
            </tr>
        }
    </table>
</div>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrderField = ViewBag.CurrentSortOrderField, sortOrderDirection = ViewBag.CurrentSortOrderDirection, currentFilter = ViewBag.CurrentFilter }))