﻿@model Test_Project.ViewModels.VehicleModelVM

@{
    ViewBag.Title = "Delete";
}

@*ERROR MSG ako delete nije uspioo*@
<h1 align="center" style="font-family:Trebuchet MS">DELETE</h1>
<h4 align="center" style="font-family:Trebuchet MS">Vehicle Model</h4>

<p class="error">@ViewBag.ErrorMessage</p>

<h3 align="center">Are you sure you want to delete this?</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VehicleMake)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleMake.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abrv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abrv)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
