﻿@model Test_Project.ViewModels.VehicleModelVM
@{
    ViewBag.Title = "Edit";
}
<script>
    var pageSize = 6;
    $(document).ready(function () {
        $(".selectVehicleMakeId").select2({
            placeholder: "@Model.VehicleMake.Name",
            minimumInputLength: 1,
            allowClear: true,
            closeOnSelect: true,
            theme: "classic",
            ajax: {
                url: "/VehicleModel/GetMakesForDropdownAsync",
                dataType: "json",
                delay: 100,
                data: function (params) {
                    return {
                        searchTerm: params.term,
                        pageNum: params.page || 1,
                        pageSize: pageSize
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: data.Results,
                        pagination: {
                            more: (params.page * 6) < data.Count_Results
                        }
                    };
                }
            }
        });
        var data = {
            id: '@Model.VehicleMakeId',
            text: '@Model.VehicleMake.Name'
        };
        var newOption = new Option(data.text, data.id, true, true);
        $('.selectVehicleMakeId').append(newOption).trigger('change');             
    });
</script>

<h1 align="center" style="font-family:Trebuchet MS">Edit</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 align="center" style="font-family:Trebuchet MS">Vehicle Model</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            <label class="control-label col-md-2" for="VehicleMakeId">Vehicle Make</label>
            <div class="col-md-10">
                <select class="selectVehicleMakeId" id="VehicleMakeId" name="VehicleMakeId" style="width:250px">                  
                </select>
                <div>
                    @Html.ValidationMessageFor(model => model.VehicleMakeId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Abrv, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Abrv, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Abrv, "", new { @class = "text-danger" })
            </div>
        </div>
            
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


