﻿@model PagedList.StaticPagedList<Test_Project.ViewModels.VehicleModelVM>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Vehicle Models";
}

<h1 align="center" style="font-family:Trebuchet MS">VEHICLE MODELS</h1>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

@using (Html.BeginForm("Index", "VehicleModel", FormMethod.Get))
{
    <p align="left">
        Search by make: @Html.TextBox("SearchTerm", ViewBag.CurrentFilter as string)
        <input type="submit" class="btn btn-success btn-mds" value="Search" />
    </p>
}

<div>
    <table style="width:50%">
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrderField = "name", sortOrderDirection = ViewBag.SortOrderDirection, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Abbreviation", "Index", new { sortOrderField = "abrv", sortOrderDirection = ViewBag.SortOrderDirection, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Make", "Index", new { sortOrderField = "make", sortOrderDirection = ViewBag.SortOrderDirection, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>
                <td>@item.Name</td>
                <td>@item.Abrv</td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleMake.Name)
                </td>
                <td>
                    <a href="@Url.Action("Details","VehicleModel", new { id = item.ID})">
                        <i class="fa fa-external-link" style="font-size:20px; margin-right:10px"></i>
                    </a>
                    <a href="@Url.Action("Edit","VehicleModel", new { id = item.ID})">
                        <i class="fa fa-pencil-square" style="font-size:20px; margin-right:10px"></i>
                    </a>
                    <a href="@Url.Action("Delete", "VehicleModel", new { id = item.ID })">
                        <i class="fa fa-trash" style="font-size:20px; margin-right:10px"></i>
                    </a>
                </td>
            </tr>
        }
    </table>
</div>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrderField = ViewBag.CurrentSortOrderField, sortOrderDirection = ViewBag.CurrentSortOrderDirection, currentFilter = ViewBag.CurrentFilter }))