﻿@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <p class="lead">Test Project</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row" align="center">
    <div class="col-md-6">
        <p><a href="@Url.Action("Index", "VehicleMake")" class="btn btn-primary btn-lg">Makes</a></p>
    </div>
    <div class="col-md-6">
        <p><a href="@Url.Action("Index", "VehicleModel")" class="btn btn-primary btn-lg">Models</a></p>
    </div>
</div>